<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022060321341-okjvtlno6pvhgqkkbo77d05gvk5b8g48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022060321341-okjvtlno6pvhgqkkbo77d05gvk5b8g48</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022060321341-a480lq87svbk3m48oqice5v9ujbgn8nj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfjn2yfjBGo4armn1iI7l_LPwzh7uVOEk</string>
	<key>GCM_SENDER_ID</key>
	<string>1022060321341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>driver.getride.taxi</string>
	<key>PROJECT_ID</key>
	<string>gatsbyrideshare</string>
	<key>STORAGE_BUCKET</key>
	<string>gatsbyrideshare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022060321341:ios:efcbab779994c277122854</string>
</dict>
</plist>